{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ category['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="name">Name</label>
  <input name="name" id="name" value="{{ request.form['name'] or category['name'] }}" required>
  <label for="description">Description</label>
  <textarea name="description" id="description">{{ request.form['description'] or category['description'] }}</textarea>
  <input type="submit" value="Save">
</form>

  <div class="related">
    <h4>Related Questions
    &nbsp; <a class="action" href="{{ url_for('category.add_question', id=category['id']) }}">Add question</a>
    </h4>
    <br/>
    {% for question in questions %}
    <div class="question">
      <a href="{{ url_for('question.update', id=question['id']) }}">{{ question['text'] }}</a>
      &nbsp; &nbsp; &nbsp;
      <a href="{{ url_for('question.delete', id=question['id']) }}" style="text-decoration: none;" onclick="return confirm('Are you sure?');">delete</a>
    </div>
    {% else %}
    <p>No questions.</p>
    {% endfor %}

<hr>

<form action="{{ url_for('category.delete', id=category['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete Category" onclick="return confirm('Are you sure?');">
</form>

{% endblock %}
